[user]
	name = Kenneth V. Domingo
	email = hello@kvdomingo.xyz
	signingkey = 8013494472EAA68C
[commit]
	gpgsign = true
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[safe]
	directory = *
[core]
	excludesfile = /home/kvdomingo/.gitignore
[init]
	defaultBranch = main
[pull]
	rebase = true
[fetch]
	prune = true
[alias]
	push-new = !git push -u origin $(git branch --show-current)
