<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bitwarden" />
  <package id="cursoride" />
  <package id="elgato-camerahub" />
  <package id="ffmpeg" />
  <package id="git" />
  <package id="jetbrainstoolbox" />
  <package id="jpegview" />
  <package id="k-litecodecpackfull" />
  <package id="notepadplusplus" />
  <package id="obs-studio" />
  <package id="obsidian" />
  <package id="ollama" />
  <package id="powershell-core" />
  <package id="powertoys" />
  <package id="startallback" />
  <package id="steam" />
  <package id="vlc" />
  <package id="warp-terminal" />
  <package id="webview2-runtime" />
</packages>
