<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="antigravity-ide" />
  <package id="binance" />
  <package id="bitwarden" />
  <package id="beekeeper-studio" />
  <package id="brave" />
  <package id="calibre" />
  <package id="claude" />
  <package id="clickup" />
  <package id="dbeaver" />
  <package id="elgato-camerahub" />
  <package id="ffmpeg" />
  <package id="git" />
  <package id="github-desktop" />
  <package id="jpegview" />
  <package id="k-litecodecpackfull" />
  <package id="lmstudio" />
  <package id="motrix" />
  <package id="mise" />
  <package id="mitmproxy" />
  <package id="notepadplusplus" />
  <package id="obs-studio" />
  <package id="obsidian" />
  <package id="ollama" />
  <package id="powerpanel-personal" />
  <package id="powershell-core" />
  <package id="powertoys" />
  <package id="proxyman" />
  <package id="qbittorrent" />
  <package id="responsively" />
  <package id="slack" />
  <package id="startallback" />
  <package id="steam" />
  <package id="telegram" />
  <package id="vlc" />
  <package id="vscode" />
  <package id="warp-terminal" />
  <package id="webview2-runtime" />
  <package id="wezterm" />
  <package id="yaak" />
</packages>
